---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <!-- <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header> -->

  <div itemprop="articleBody">
    {% assign categories = post.categories %}
    {categories}
    {{ content | markdownify }}
  </div>

  <div class = "related">
    <h3>Related Posts</h3>
    
    category: {{page.categories}} {{page.category}} {{post.categories}} {{post.category}}
    {% assign firstCategory = page.categories | first %}
    {% assign relatedCount = 0 %}
    {% for related in site.categories[firstCategory] %}
      {% unless page.permalink == related.permalink %}
        <a href="{{related.permalink}}">{{ related.title }} </a>
      {% endunless %}

      {% if relatedcount == 3 %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
